/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "../zmk-nodefree-config/helper.h"

// Layers
#define DVO_LIN 0
#define DVO_WIN 2
#define DVO_MAC 3
#define QWE 4
#define NAV 5
#define FUN 6
#define ACC_LIN 7
#define ACC_WIN 8
#define ACC_MAC 9
#define NUM 10
#define SYM 11

#define XXX &none
#define ___ &trans
// To show graphically which key is being held to activate a layer
#define vvv &trans

// Define spanish letters
// activate Linux-mode for helper script
#undef OS_UNICODE_LEAD
#undef OS_UNICODE_TRAIL
#define OS_UNICODE_LEAD &macro_tap &kp LS(LC(U))  // <- Linux compose sequence
#define OS_UNICODE_TRAIL &macro_tap &kp SPACE  // <- Space terminates unicode input on Linux

ZMK_UNICODE_PAIR( lin_aa,   N0, N0,  E, N1,   N0, N0,  C, N1 ) // á/Á
ZMK_UNICODE_PAIR( lin_ae,   N0, N0,  E, N9,   N0, N0,  C, N9 ) // é/É
ZMK_UNICODE_PAIR( lin_ai,   N0, N0,  E, D,    N0, N0,  C, D  ) // í/Í
ZMK_UNICODE_PAIR( lin_ao,   N0, N0,  F, N3,   N0, N0,  D, N3 ) // ó/Ó
ZMK_UNICODE_PAIR( lin_au,   N0, N0,  F, A,    N0, N0,  D, A  ) // ú/Ú
ZMK_UNICODE_PAIR( lin_du,   N0, N0,  F, C,    N0, N0,  D, C  ) // ü/Ü
ZMK_UNICODE_PAIR( lin_an,   N0, N0,  F, N1,   N0, N0,  D, N1 ) // ñ/Ñ
ZMK_UNICODE_PAIR( lin_ac,   N0, N0,  E, N7,   N0, N0,  C, N7 ) // ç/Ç

// switch to Windows-mode (using WinCompose) for helper script
#undef OS_UNICODE_LEAD
#undef OS_UNICODE_TRAIL
#define OS_UNICODE_LEAD &macro_tap &kp RALT &kp U  // <- WinCompose sequence
#define OS_UNICODE_TRAIL &macro_tap &kp RET  // <- Return terminates unicode input on Windows

ZMK_UNICODE_PAIR( win_aa,   N0, N0,  E, N1,   N0, N0,  C, N1 ) // á/Á
ZMK_UNICODE_PAIR( win_ae,   N0, N0,  E, N9,   N0, N0,  C, N9 ) // é/É
ZMK_UNICODE_PAIR( win_ai,   N0, N0,  E, D,    N0, N0,  C, D  ) // í/Í
ZMK_UNICODE_PAIR( win_ao,   N0, N0,  F, N3,   N0, N0,  D, N3 ) // ó/Ó
ZMK_UNICODE_PAIR( win_au,   N0, N0,  F, A,    N0, N0,  D, A  ) // ú/Ú
ZMK_UNICODE_PAIR( win_du,   N0, N0,  F, C,    N0, N0,  D, C  ) // ü/Ü
ZMK_UNICODE_PAIR( win_an,   N0, N0,  F, N1,   N0, N0,  D, N1 ) // ñ/Ñ
ZMK_UNICODE_PAIR( win_ac,   N0, N0,  E, N7,   N0, N0,  C, N7 ) // ç/Ç


// activate macOS-mode for helper script
#undef OS_UNICODE_LEAD
#undef OS_UNICODE_TRAIL
#define OS_UNICODE_LEAD &macro_press &kp LALT  // <- macOS compose sequence (must be activated in system preferences)
#define OS_UNICODE_TRAIL &macro_release &kp LALT  // <- Releasing Left-Alt terminates unicode input on macOns

ZMK_UNICODE_PAIR( mac_aa,   N0, N0,  E, N1,   N0, N0,  C, N1 ) // á/Á
ZMK_UNICODE_PAIR( mac_ae,   N0, N0,  E, N9,   N0, N0,  C, N9 ) // é/É
ZMK_UNICODE_PAIR( mac_ai,   N0, N0,  E, D,    N0, N0,  C, D  ) // í/Í
ZMK_UNICODE_PAIR( mac_ao,   N0, N0,  F, N3,   N0, N0,  D, N3 ) // ó/Ó
ZMK_UNICODE_PAIR( mac_au,   N0, N0,  F, A,    N0, N0,  D, A  ) // ú/Ú
ZMK_UNICODE_PAIR( mac_du,   N0, N0,  F, C,    N0, N0,  D, C  ) // ü/Ü
ZMK_UNICODE_PAIR( mac_an,   N0, N0,  F, N1,   N0, N0,  D, N1 ) // ñ/Ñ
ZMK_UNICODE_PAIR( mac_ac,   N0, N0,  E, N7,   N0, N0,  C, N7 ) // ç/Ç



&mt {
    tapping-term-ms = <150>;
};

/ {
  behaviors {
    hrm: home_row_mod {
      compatible = "zmk,behavior-hold-tap";
      label = "HOME_ROW_MOD";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      global-quick-tap;
      bindings = <&kp>, <&kp>;
    };

    al: alpha_layer {
      compatible = "zmk,behavior-hold-tap";
      label = "ALPHA_LAYER";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <200>;
      flavor = "balanced";
      bindings = <&mo>, <&kp>;
    };

    am: alpha_mod {
      compatible = "zmk,behavior-hold-tap";
      label = "ALPHA_MOD";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <200>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
    };

    cwl: caps_word_lock {
      compatible = "zmk,behavior-tap-dance";
      label = "CAPS_WORD_LOCK";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&caps_word>, <&kp CAPSLOCK>;
    };
  };

  combos {
    compatible = "zmk,combos";
    /* KEY POSITIONS
      ╭─────────────────────────╮ ╭─────────────────────────╮
      │  _0   1   2   3   4   5 │ │ 6   7   8   9   10  _11 │
      │ _12  13  14  15  16  17 │ │ 18  19  20  21  22  _23 │
      │ _24  25  26  27  28  29 │ │ 30  31  32  33  34  _35 │
      ╰────────────╮ 36  37  38 │ │ 39  40  41 ╭────────────╯
                   ╰────────────╯ ╰────────────╯
    */

    combo_tab {
      timeout-ms = <50>;
      key-positions = <3 4>;
      bindings = <&kp TAB>;
    };

    combo_shift_tab {
      timeout-ms = <50>;
      key-positions = <1 2>;
      bindings = <&kp LS(TAB)>;
    };

  };

  keymap {
    compatible = "zmk,keymap";

    dvorak_lin {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   &kp APOS      &kp COMMA     &kp DOT       &kp P         &kp Y             &kp F         &kp G         &kp C         &kp R         &kp L         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp A         &hrm LALT O   &hrm LGUI E   &hrm LCTRL U  &kp I             &kp D         &hrm RCTRL H  &hrm RGUI T   &hrm LALT N   &kp S         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &am LSHFT SEMI &kp Q        &kp J         &kp K         &kp X             &kp B         &kp M         &kp W         &kp V         &am RSHFT Z   XXX
      //    ╰───────────────────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          &am LGUI TAB  &al NUM ESC   &al SYM SPACE     &al NAV RET   &al FUN BSPC  &al ACC_LIN DEL
      //                                ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    dvorak_win {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   &kp APOS      &kp COMMA     &kp DOT       &kp P         &kp Y             &kp F         &kp G         &kp C         &kp R         &kp L         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp A         &hrm LALT O   &hrm LGUI E   &hrm LCTRL U  &kp I             &kp D         &hrm RCTRL H  &hrm RGUI T   &hrm LALT N   &kp S         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &am LSHFT SEMI &kp Q        &kp J         &kp K         &kp X             &kp B         &kp M         &kp W         &kp V         &am RSHFT Z   XXX
      //    ╰───────────────────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          &am LGUI TAB  &al NUM ESC   &al SYM SPACE     &al NAV RET   &al FUN BSPC  &al ACC_WIN DEL
      //                                ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    dvorak_mac {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   &kp APOS      &kp COMMA     &kp DOT       &kp P         &kp Y             &kp F         &kp G         &kp C         &kp R         &kp L         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp A         &hrm LALT O   &hrm LGUI E   &hrm LCTRL U  &kp I             &kp D         &hrm RCTRL H  &hrm RGUI T   &hrm LALT N   &kp S         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &am LSHFT SEMI &kp Q        &kp J         &kp K         &kp X             &kp B         &kp M         &kp W         &kp V         &am RSHFT Z   XXX
      //    ╰───────────────────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          &am LGUI TAB  &al NUM ESC   &al SYM SPACE     &al NAV RET   &al FUN BSPC  &am ACC_MAC DEL
      //                                ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    qwerty {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp A         &hrm LALT S   &hrm LGUI D   &hrm LCTRL F  &kp G             &kp H         &hrm RCTRL J  &hrm RGUI K   &hrm LALT L   &kp SEMI      XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &am LSHFT Z   &kp X        &kp C          &kp V         &kp B             &kp N         &kp M        &kp COMMA      &kp DOT       &am RSHFT SLASH XXX
      //    ╰───────────────────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           ___               ___           ___           ___
      //                                ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    navigation_media {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   &tog QWE      XXX           XXX           XXX           XXX               &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp LSHFT     &kp LALT      &kp LGUI      &kp LCTRL     XXX               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &cwl          XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           XXX           &kp C_PREV    &kp C_PP      &kp C_NEXT        &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  XXX           &bt BT_CLR    XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           ___               vvv           ___           ___
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    function {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   XXX           &kp F7        &kp F8        &kp F9        &kp F10           XXX           XXX           XXX           XXX           XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           &kp F4        &kp F5        &kp F6        &kp F11           XXX           &kp RCTRL     &kp LALT     &kp RGUI      &kp RSHFT      XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           &kp F1        &kp F2        &kp F3        &kp F12           XXX           XXX           XXX           XXX           XXX           XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           ___               ___           vvv           ___
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    accents_lin {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           &lin_ac       XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &lin_aa       &lin_ao       &lin_ae       &lin_au       &lin_ai           XXX           XXX           XXX           XXX           XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX           XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           ___               ___           ___           vvv
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    accents_win {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           &win_ac       XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &win_aa       &win_ao       &win_ae       &win_au       &win_ai           XXX           XXX           XXX           XXX           XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX           XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           ___               ___           ___           vvv
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    accents_mac {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           &mac_ac       XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &mac_aa       &mac_ao       &mac_ae       &mac_au       &mac_ai           XXX           XXX           XXX           XXX           XXX           XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           XXX           XXX           &mac_du       XXX               XXX           XXX           XXX           XXX           XXX           XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           ___               ___           ___           vvv
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    number {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   XXX           XXX           XXX           XXX           XXX               &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT      XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp LSHFT     &kp LALT      &kp LGUI      &kp LCTRL     XXX               &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp SLASH     XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           XXX           XXX           XXX           XXX               &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH      XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           vvv           ___               &kp MINUS     &kp N0        &kp DOT
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    symbols {
      bindings = <
      //    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        XXX   XXX           XXX           XXX           XXX           XXX               &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC      XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   &kp LSHFT     &kp LALT      &kp LGUI      &kp LCTRL     XXX               &kp PLUS      &kp DLLR      &kp PRCNT     &kp CARET     &kp QMARK     XXX
      //    ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
        XXX   XXX           XXX           XXX           XXX           XXX               &kp TILDE     &kp EXCL      &kp AT        &kp HASH      &kp PIPE      XXX
      //    ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                          ___           ___           vvv                &kp UNDER    &kp RPAR      &kp LPAR
      //                                ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

  };
};
