/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define DVO 0
#define QWE 1
#define FUN 2
#define NUM 3
#define SYM 4

#define XXX &none
#define ___ &trans
// To show graphically which key is being held to activate a layer
#define vvv &trans

#define COMBO_TIMEOUT 40

&mt {
    tapping-term-ms = <150>;
};

/ {

  behaviors {
    hrm: home_row_mod {
      compatible = "zmk,behavior-hold-tap";
      label = "HOME_ROW_MOD";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <125>;
      global-quick-tap;
      bindings = <&kp>, <&kp>;
    };

    al: alpha_layer {
      compatible = "zmk,behavior-hold-tap";
      label = "ALPHA_LAYER";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <200>;
      flavor = "balanced";
      bindings = <&mo>, <&kp>;
    };

    am: alpha_mod {
      compatible = "zmk,behavior-hold-tap";
      label = "ALPHA_MOD";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <200>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
    };

    cwl: caps_word_lock {
      compatible = "zmk,behavior-tap-dance";
      label = "CAPS_WORD_LOCK";
      #binding-cells = <0>;
      tapping-term-ms = <500>;
      bindings = <&caps_word>, <&kp CAPSLOCK>;
    };
  };

  combos {
    compatible = "zmk,combos";
    /* KEY POSITIONS
      ╭─────────────────────────╮ ╭─────────────────────────╮
      │  0 │  1   2   3   4   5 │ │  6   7   8   9  10 │ 11 │
      │ 12 │ 13  14  15  16  17 │ │ 18  19  20  21  22 │ 23 │
      │ 24 │ 25  26  27  28  29 │ │ 30  31  32  33  34 │ 35 │
      ╰────────────╮ 36  37  38 │ │ 39  40  41 ╭────────────╯
                   ╰────────────╯ ╰────────────╯
    */

    combo_tab {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <3 4>;
      bindings = <&kp TAB>;
    };

    combo_shift_tab {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <2 3>;
      bindings = <&kp LS(TAB)>;
    };

    combo_left_ctrl {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <15 16>;
      bindings = <&kp LCTRL>;
    };

    combo_right_ctrl {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <19 20>;
      bindings = <&kp RCTRL>;
    };

    combo_left_gui {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <14 15>;
      bindings = <&kp LGUI>;
    };

    combo_right_gui {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <20 21>;
      bindings = <&kp LGUI>;
    };

    combo_left_alt {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <13 14>;
      bindings = <&kp LALT>;
    };

    combo_right_alt {
      timeout-ms = <COMBO_TIMEOUT>;
      key-positions = <21 22>;
      bindings = <&kp RALT>;
    };

  };

  keymap {
    compatible = "zmk,keymap";

    dvorak {
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX    &kp SEMI      &kp COMMA     &kp DOT       &kp P         &kp Y             &kp F         &kp G         &kp C         &kp R         &kp L         XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp A         &kp O         &kp E         &kp U         &kp I             &kp D         &kp H        &kp T          &kp N         &kp S         XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp APOS      &kp Q         &kp J         &kp K         &kp X             &kp B         &kp M         &kp W         &kp V         &kp Z         XXX
      // ╰───────────────────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                       &am LGUI TAB  &al NUM ESC   &al SYM SPACE     &am RSHFT RET &al FUN BSPC  &am RALT DEL
      //                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    qwerty {
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX    &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp SEMI      XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp SLASH     XXX
      // ╰───────────────────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                       ___           ___           ___               ___           ___           ___
      //                             ╰─────────────────────────────────────────╯   ╰─────────────────────────────────────────╯
      >;
    };

    function {
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX    &kp C_PREV    &kp F7        &kp F8        &kp F9        &kp F10           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   XXX
		  // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp C_PP      &kp F4        &kp F5        &kp F6        &kp F11           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &cwl           XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp C_NEXT    &kp F1        &kp F2        &kp F3        &kp F12           &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  XXX           &bt BT_CLR     XXX
      // ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                       ___           ___           ___               ___           vvv           ___
      //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    number {
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX    XXX           XXX           XXX           XXX           XXX               &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT       XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp LSHFT     &kp LALT      &kp LGUI      &kp LCTRL     XXX               &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp SLASH      XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    XXX           XXX           XXX           XXX           XXX               &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH       XXX
      // ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                       ___           vvv           ___               &kp MINUS     &kp N0        &kp DOT
      //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    symbols {
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX    &tog QWE      XXX           XXX           XXX           XXX               &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC       XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    &kp LSHFT     &kp LALT      &kp LGUI      &kp LCTRL     XXX               &kp PLUS      &kp DLLR      &kp PRCNT     &kp CARET     &kp QMARK      XXX
      // ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬─────────────┬─────────────┤
    XXX    XXX           XXX           XXX           XXX           XXX               &kp TILDE     &kp EXCL      &kp AT        &kp HASH      &kp PIPE       XXX
      // ╰─────────────┴─────────────┬─────────────┬─────────────┬─────────────┤   ├─────────────┬─────────────┬─────────────┬───────────────────────────╯
                                       ___           ___           vvv                &kp UNDER    &kp RPAR      &kp LPAR
      //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

  };

};
